:root {
    --shadow: 5px 5px 5px #00000033;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

.center {
    background: linear-gradient(40deg, rgb(130, 0, 200), rgb(255, 180, 45));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: var(--shadow);
}

.calculator h1 {
    translate: 0 10px;
    text-align: right;
    background-color: #ffffff80;
    padding: 20px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    box-shadow: var(--shadow);

}

.buttons {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button{
    background-color: #ffffffe9;
    height: 60px;
    width: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: var(--shadow);

}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.buttons button:active {
    scale: 0.9;
}

.history {
    position: absolute;
    align-self: self-start;
    text-align: start;
    translate: 40px 20px;
    z-index: 1;

    & p {
        font-size: 15px;
        color: #00000080;
    }
}